name: C++ Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            g++ \
            libglfw3-dev \
            libglew-dev \
            libglm-dev \
            libx11-dev

      - name: Build the project
        run: |
          make

      - name: Success Message
        run: echo "Build completed successfully"

      - name: Build the project
        run: |
          timeout 20 ./app
      - name: Success Message
        run: echo "App ran successfully"
